{"LOAD" "Load <{rd}>, <{rs1}>"
 "STORE" "Store <{rs1}>, <{rs2}>"
 "LOADI" "Loadi <{rd}> IMM"
 "ADD" "Add <{rd}>, <{rs1}>, <{rs2}>"
 "SUB" "Sub <{rd}>, <{rs1}>, <{rs2}>"
 "AND" "And <{rd}>, <{rs1}>, <{rs2}>"
 "OR" "Or <{rd}>, <{rs1}>, <{rs2}>"
 "MOV" "Mov <{rd}>, <{rs1}>"
 "SLL" "Sll <{rd}>, <{rs1}>, <{rs2}>"
 "SRA" "Sra <{rd}>, <{rs1}>, <{rs2}>"
 "SLT" "Slt <{rd}>, <{rs1}>, <{rs2}>"
 "ECALL" "Ecall"
 "MRET" "Mret"
 "CSRRS" "Csrrs <{rd}>, <{rs1}>, <{rs2}>"
 "CSRRC" "Csrrc <{rd}>, <{rs1}>, <{rs2}>"
 "CLR" "Clr"
 "SAN" "San"
 "SPSEL" "Spsel"
 "SPSET" "Spset"
 "PUSH" "Push <{rs1}>"
 "POP" "Pop <{rd}>"}
